body {
  background-color: #333;
  color: #ddd;
  font-size: 1.6rem;
}

.message-span {
  margin: 0;
  padding: 0;
  border: 1px groove gray;
}

.message-span:nth-of-type(2n) {
  background: #707070;
}

.message-name {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  background: #aaa;
  color: #222;
  max-width: 100px;
  text-transform: capitalize;
}

#messages {
  width: 100%;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  padding-bottom: 15px;
}

.inputs {
  min-height: 200px;
  padding: 0;
}

#name {
  padding-left: 15px;
}

.form-group {
  margin: 0;
  padding: 1px;
  width: 100%;
}

@media all and (min-width: 760px) {
  body {
    font-size: 1.15rem;
  }
  .inputs {
    min-height: unset;
  }
}

@media all and (min-width: 1200px) {
  body {
    font-size: 0.9rem;
  }
}

